<!DOCTYPE html>
<html>
    <head>
        <title>墨影 - 后台管理</title>
        <script type="text/javascript" src="../static/bin/jquery.js"></script>
        
        <!-- Bootstrap 核心文件 -->
        <link rel=stylesheet href=https://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css>
        <link rel=stylesheet href=https://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css>

    </head>
    <body style="overflow:hidden;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>用户名</th>
                    <th>密码（MD5）</th>
                </tr>
            </thead>
            {% for user in user_list %}
                <tr>
                    <th>{{ user.id }}</th>
                    <th>{{ user.name }}</th>
                    <th>{{ user.password }}</th>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>