<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<title>墨影-水墨画创作交流平台</title>
	<script type="text/javascript" src="../../main_files_pc/jquery.js"></script>	
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="../../main_files_pc/main.js"></script>
	<style>
		body{
			opacity:0.8;
		}
		a:hover{
			text-decoration:none;
			color:red;
		}
		.bar{
			background-color:#fff;
			opacity:0.7;
			border:1px ;
			font-size:15px;
		}
		
		.MainPage-TopBar{
			background-color:#dddddd;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			height:30%;
			border:2px;
			width:100%;
		}
		.imgContainer{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			width: 100%;
		}
		.imgSlide{
			width:90%;
		}
		.bkSlide{
            position:relative;
            top:-10px;
            z-index:-80;
            float:left;
            height:30px;
            transition: all 0.25s ease-out;
        }
        .title_{
            font-size:24px;
            float:right;
        }
	</style>

	<script>
		window.onload=function(){
	        $('#title_g').mouseover();
		};
	</script>
</head>

<body style="background-image:url(../../img/bk.jpg);
			overflow:scroll;
			display:block;">
	<div style="">
		<img src="../../img/icon.png" style="height:100px;">
	</div>
	<hr style="border-top:5px solid #191970"/>
    <div>
        <p class="title_" id="title_g" style="margin-right:calc(42% - 250px);"
           onmouseover="$('#bkSlide').css('left',(this.offsetLeft+this.clientWidth/2-90)+'px');$('.title_').css('color','black');$(this).css('color','#5CF4F7');">个人中心</p>
        <p class="title_" id="title_w" style="margin-right:8%;" onclick="window.location.href='/s/compete'"
           onmouseover="$('#bkSlide').css('left',(this.offsetLeft+this.clientWidth/2-90)+'px');$('.title_').css('color','black');$(this).css('color','#5CF4F7');">比赛</p>
        <p class="title_" id="title_j" style="margin-right:8%;"
           onmouseover="$('#bkSlide').css('left',(this.offsetLeft+this.clientWidth/2-90)+'px');$('.title_').css('color','black');$(this).css('color','#5CF4F7');">教育</p>
        <p class="title_" id="title_t" style="margin-right:8%;" onclick="window.location.href='/s/transfer'"
           onmouseover="$('#bkSlide').css('left',(this.offsetLeft+this.clientWidth/2-90)+'px');$('.title_').css('color','black');$(this).css('color','#5CF4F7');">创作</p>
        <p class="title_" id="title_s" style="margin-right:8%;" onclick="window.location.href='/s/index'"
           onmouseover="$('#bkSlide').css('left',(this.offsetLeft+this.clientWidth/2-90)+'px');$('.title_').css('color','black');$(this).css('color','#5CF4F7');">首页</p>
        <div class="bkSlide" id="bkSlide">
            <img src="../../img/Layer26.png" style="height:50px;"/>
        </div>
    </div>
	<hr style="border-top:3px solid #A9A9A9;width:96%;"/>
<div style="min-width:1024px;max-width:1280px;margin:2% auto;">
	<div style="margin:0 2% 2% 2%;">
		<div style="display:flex;width:600px;margin: auto;background-color:transparent;">
            <div style="flex:2;">
                <img src="../../img/1.png" style="width:200px;border:2px solid #000;" class="img-circle">
            </div>
            <div style="flex:8;margin: 0 0 0 50px; font-size: 32px;">
                <p> <b>{% if userinfo.name %}{{ userinfo.name }}{% else %}墨影{% endif %}</b> </p>
                <div style="margin: 0 0 0 0px; font-size: 18px;">
                    <p> 称号：风流雅士 </p>
                    <p> 作品数：1 </p>
                    <p> 好友数：3 </p>
                    <p> 上次在线：刚刚 </p>
                    <p> 注册时间：1 年前 </p>
                </div>
            </div>
		</div>
	</div>
	<hr style="border-top:3px solid #A9A9A9;width:96%;"/>
	<div style="margin:0% 2% 2% 2%;">
		<div style="display:flex;width:100%;">
            <div style="font-size:24px;flex:7;">
			    <p style="font-size:24px;margin: 0 0 10px 20px;">我的文章</p>
            </div>
            <div style="font-size:24px;flex:3;">
			    <p style="font-size:24px;margin: 0 0 10px 40px;">消息列表</p>
            </div>
		</div>
		<div style="display:flex;width:100%;background-color:transparent;flex-wrap:wrap;">
			<div style="flex:7;display:block;border-radius: 12px;overflow:hidden;">
				<div style="display:flex;height:150px;width:100%;background-color:#eee;">
					<div style="flex:2;margin:16px;overflow:hidden;height:96%;">
						<img src="../../img/2.png" style="width:100%;"/>
					</div>
					<div style="flex:8;overflow:hidden;">
						<p style="font-size:20px;margin:1%;">教你画水墨兰花，简单易学，入门上手最快的办法</p>
						<div style="display:flex;">
							<p style="font-size:18px;color:grey;flex:8;margin-left:1%;">上传时间2018年10月12日</p>
							<p style="font-size:20px;color:grey;flex:2;">作者：梅兰</p>
						</div>
					</div>
				</div>
				<div style="display:flex;height:150px;width:100%;background-color:#eee;">
					<div style="flex:2;margin:16px;overflow:hidden;height:96%;">
						<img src="../../img/3.png" style="width:100%;"/>
					</div>
					<div style="flex:8;overflow:hidden;">
						<p style="font-size:20px;margin:1%;">水墨画教学基础视频-墨竹的基本画法</p>
						<div style="display:flex;">
							<p style="font-size:18px;color:grey;flex:8;margin-left:1%;">上传时间2018年10月12日</p>
							<p style="font-size:20px;color:grey;flex:2;">作者：青竹</p>
						</div>
					</div>
				</div>
			</div>
			<div style="display:flex;height:320px;width:30%;background-color:transparent;flex:3;opacity:0.8;">
				<div style="flex:1;"></div>
				<div style="flex:10;height:100%;width:90%;background-color:#fff;border-radius: 12px;overflow:hidden;">
					<div style="margin:6%;">
                        <p style="font-size:20px;color:black;"> 暂无新消息。 </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr style="border-top:3px solid #A9A9A9;width:96%;"/>
	<div style="margin:0% 2% 2% 2%;">
		<div style="display:flex;width:100%;">
            <div style="font-size:24px;flex:7;">
			    <p style="font-size:24px;margin: 0 0 10px 20px;">我的比赛</p>
            </div>
            <div style="font-size:24px;flex:3;">
			    <p style="font-size:24px;margin: 0 0 10px 40px;">我的收藏</p>
            </div>
		</div>
		<div style="display:flex;width:100%;background-color:transparent;flex-wrap:wrap;border-radius: 12px;">
			<div style="flex:7;display:block;">
				<div style="display:flex;height:150px;width:100%;background-color:#eee;">
					<div style="flex:2;margin:2%;overflow:hidden;height:96%;">
						<img src="../../img/徐悲鸿-奔马2.jpg" style="width:100%;"/>
					</div>
					<div style="flex:8;overflow:hidden;">
						<p style="font-size:20px;margin:1%;">中国现代画家徐悲鸿</p>
						<div style="display:flex;">
							<p style="font-size:18px;color:grey;flex:8;margin-left:1%;">上传时间2018年10月12日</p>
							<p style="font-size:18px;color:grey;flex:2;">作者：一匹奔马</p>
						</div>
					</div>
				</div>
				<div style="display:flex;height:150px;width:100%;background-color:#eee;">
					<div style="flex:2;margin:2%;overflow:hidden;height:96%;">
						<img src="../../img/袁江-观潮.jpg" style="width:100%;"/>
					</div>
					<div style="flex:8;overflow:hidden;">
						<p style="font-size:20px;margin:1%;">袁江的观潮图</p>
						<div style="display:flex;">
							<p style="font-size:18px;color:grey;flex:8;margin-left:1%;">上传时间2018年10月12日</p>
							<p style="font-size:18px;color:grey;flex:2;">作者：钱塘</p>
						</div>
					</div>
				</div>
			</div>
			<div style="display:flex;height:320px;width:30%;background-color:transparent;flex:3;opacity:0.8;">
				<div style="flex:1;"></div>
				<div style="flex:10;height:100%;width:90%;background-color:#fff;border-radius: 12px;overflow:hidden;">
					<div style="margin:6%;">
                        <p style="font-size:20px;color:black;"> 你没有收藏，快去收藏一些喜欢的作品吧。 </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr style="border-top:3px solid #A9A9A9;width:96%;"/>
	<div style="margin:0% 2% 2% 2%;">
		<div style="height:6%;width:100%;">
			<p style="font-size:24px;">好友动态</p>
		</div>
		<div style="display:flex;width:100%;background-color:transparent;flex-wrap:wrap;">
            <!--div style="flex:1;"></div-->
			<div style="flex:9;display:block;">
            {% for weibo in weibos %}
				<div style="width:100%;background-color:#fff;opacity:0.8;">
                    <div style="padding:20px 20px 0px 20px;">
                        <p style="font-size:20px;">
                            <img src="../../img/1.png"  style="width:60px;border:2px solid #000;" class="img-circle">
                            {{ weibo.blog.author.username }}
                        </p>
                    </div>
                    <div style="padding:10px 50px 10px 50px;">
                        <p style="font-size:20px;">{{ weibo.blog.content }}</p>
                        {% for image in weibo.pics %}
                            <img src="{{ image.file }}" style="width:18%;height:100px;" />
                        {% endfor %}
                    </div>
				</div>
				<div style="display:flex;height:50px;width:100%;background-color:#fff;opacity:0.8;">
					<button class="bar" style="flex:1;">收藏</button>
					<button class="bar" style="flex:1;">分享</button>
					<button class="bar" style="flex:1;" id="show{{weibo.blog.id}}">评论: {{ weibo.commentCount }}</button>
					<button class="bar" style="flex:1;" onclick="doitat({{ weibo.blog.id }}, this,
                        {% if weibo.thumbed %}
                            false
                        {% else %}
                            true
                        {% endif %}
                            )">
                        {% if weibo.thumbed %}
                            取消点赞
                        {% else %}
                            点赞
                        {% endif %}: {{ weibo.thumbCount }}
                    </button>
				</div>
				<div style="display:none;background-color:#fff;opacity:0.7;" id="comment{{weibo.blog.id}}">
						<p style="font-size:15px;margin-left:2%;"> {{ weibo.commentCount }}条评论</p>

                    {% for comment in weibo.comments %}
						<div>
							<div style="display:flex;" >
								<div style="flex:3;"></div>
								<div style="flex:2;">
								<img src="../../img/1.png"  style="width:50px;margin-bottom:2%;border:2px solid #000;" class="img-circle">
								</div>
								<div style="flex:35;">
									<p style="font-size:20px;margin-top:10px;">{{comment.author}}</p>
								</div>
							</div>
							<div style="display:flex;">
								<div style="flex:6;"></div>
								<div style="flex:35;">
									<p style="font-size:15px;margin-top:10px;">{{ comment.val }}</p>
								</div>
							</div>
							<p style="float:right;font-size:9px;margin-right:5%;">发布于2018.8.1 23:55</p>
							<hr style="border-top:1px solid #A9A9A9;width:90%;margin-top:8px;margin-bottom:8px;"/>
						</div>
                    {% endfor %}
                    <div style="display:flex;background-color:#fff;opacity:0.8;padding-bottom:3%;" >
                                <div style="flex:3;"></div>
                                <div style="flex:35;">
                                    <form action="/w/commentWeibo" method="POST" onsubmit="return doitato(this);" style="display:flex;">
                                        <input class="form-control" name="content" id="focusedInput" type="text" placeholder="说点什么吧……" style="flex:20;"/>
                                        <input type="text" style="display:none;" value="{{weibo.blog.id}}" name="id" />
                                        <div style="flex:5;">
                                            <input type="submit" class="btn btn-lg" style="margin-left:3%;height:34px;font-size:15px;" value="发布"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                </div>
            {% endfor %}
			</div>
            <!--div style="flex:1;"></div-->
		</div>
	</div>
	<hr style="border-top:3px solid #A9A9A9;"/>
</div>
	<div style="text-align:center;">
		<p style="font-size:18px;">Copyright@Little Driver Technology Inc,Ltd</p>
	</div>
</body>
</html>