<script type="text/javascript" src="/bin/jquery.js"></script>
<script>
  function doit(i,j){
      newinput = document.createElement("div")
      newinput.id='good'+i
      newinput.innerHTML='<input type="file" name="file'+i+'" onchange="doit('+(i+1)+')"/>'
      document.getElementById('good'+(i-1)).appendChild(newinput)
      j.setAttribute("onchange","")
  }
  function doita(i){
      $.ajax('/w/postWeibo',{
            type: 'POST',
            data: new FormData(i),
            async: true,
            cache: false,
            processData: false,
            contentType: false,
            success: function(msg) {
                msg = JSON.parse(msg)
                alert(msg.message)
                if(msg.success === 'True')
                    location.reload(true);
            }
        })
      return false;
  }
  function doitat(i,j,k){
      formData = new FormData();
      formData.append("id", i)
      formData.append("action", k)
      $.ajax('/w/thumbWeibo', {
            type: 'POST',
            data: formData,
            async: true,
            cache: false,
            processData: false,
            contentType: false,
            success: function(msg) {
                msg = JSON.parse(msg)
                alert(msg.message)
                if(msg.success === 'True')
                    location.reload(true)
            }
        })
  }
  function doitato(i){
      $.ajax('/w/commentWeibo',{
            type: 'POST',
            data: new FormData(i),
            async: true,
            cache: false,
            processData: false,
            contentType: false,
            success: function(msg) {
                msg = JSON.parse(msg)
                alert(msg.message)
                if(msg.success === 'True')
                    location.reload(true);
            }
        })
      return false;
  }
  function dologin(i){
      $.ajax('/login/ajaxLogin',{
            type: 'POST',
            data: new FormData(i),
            async: true,
            cache: false,
            processData: false,
            contentType: false,
            success: function(msg) {
                msg = JSON.parse(msg)
                alert(msg.message)
                if(msg.success === 'True')
                    location.reload(true);
            }
        })
      return false;
  }
  function dologini(){
      formData = new FormData();
      formData.append("logout", "sure")
      $.ajax('/login/ajaxLogout',{
            type: 'POST',
            data: formData,
            async: true,
            cache: false,
            processData: false,
            contentType: false,
            success: function(msg) {
                msg = JSON.parse(msg)
                alert(msg.message)
                if(msg.success === 'True')
                    location.reload(true);
            }
        })
  }
</script>
{% if user.is_authenticated %}
  <p>
    已登录：{{user.username}}。<a href="#" onclick="dologini()">注销</a>
  </p>
{% else %}
<form action="/login/ajaxLogin" method="POST" onsubmit="return dologin(this);">
    <input type="input" name="name" /><br />
    <input type="input" name="password" /><br />
    <input type="submit" value="登录"/>
</form>
{% endif %}
<form action="/w/postWeibo" method="POST" enctype="multipart/form-data" onsubmit="return doita(this);">
    <textarea name="content"></textarea>
    <div id='good1'>
      <input type="file" name="file1" onchange="return doit(2,this)"/>
    </div>
    <input type="submit" value="发送"/>
</form>
{% for weibo in weibos %}
    <p> Author: {{ weibo.blog.author.username }} </p>
    <p> Content: {{ weibo.blog.content }} </p>
    {% for image in weibo.pics %}
        <img src="{{ image.file }}" height="100px" />
    {% endfor %}
    <p> Thumbs: {{ weibo.thumbCount }} &nbsp;&nbsp;
        <button onclick="doitat({{ weibo.blog.id }}, this,
            {% if weibo.thumbed %}
                false
            {% else %}
                true
            {% endif %}
                )">
            {% if weibo.thumbed %}
                取消点赞
            {% else %}
                点赞
            {% endif %}
        </button>
    </p>
    <p> Comments: </p>
    <form action="/w/commentWeibo" method="POST" onsubmit="return doitato(this);">
        <textarea name="content"></textarea>
        <input type="input" style="display:none;" value="{{weibo.blog.id}}" name="id"></input>
        <input type="submit" value="发送"/>
    </form>
    {% for comment in weibo.comments %}
        <p> Comment #{{ comment.num }} {{comment.author}}:</p>
        <p> &nbsp;&nbsp;&nbsp;&nbsp;{{ comment.val }}</p>
    {% endfor %}
    <hr width="80%" color="#6f5499" size="1" />
{% endfor %}
