.TopBar {
	border-bottom: 1px solid rgba(26,26,26,.06);
	box-shadow: 0 1px 3px 0 rgba(23,81,153,.05);
	min-width: 100%;
    float: top;
	overflow: hidden
}

.TopBar-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100px;
}

.Main {
    width: 100%;
    height: calc(100% - 220px);
    overflow: scroll;
}

.BottomBar {
	border-top: 1px solid rgba(26,26,26,.06);
	box-shadow: 0 1px 3px 0 rgba(23,81,153,.05);
    float: bottom;
	background-color: #fff;
	min-width: 100%;
	overflow: hidden
}

.BottomBar-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 120px;
    line-height: 15px;
    font-size: 28px;
    color: #444488;
    margin-left: 10%;
    margin-right: 10%;
}